[submodule "mybiz-v2-business"]
	path = mybiz-v2-business
	url = git@github.com:tonsV2/mybiz-v2-business.git
[submodule "mybiz-v2-api"]
	path = mybiz-v2-api
	url = git@github.com:tonsV2/mybiz-v2-api.git
